<div class="story-page">

  <div class="container">
    <aside class="container-actions">
      <img src={{story.image}} alt={{story.title}}>
      <div class="container-actions-items">
        <a href="/stories/edit/{{story.id}}" id="edit" class="edit"><i class="fa-regular fa-pen-to-square"></i></a>
        <form action="/stories/remove/{{story.id}}" method="post">
          <button><i class="fa-regular fa-trash-can"></i></button>
        </form>
      </div>
    </aside>
  <div class="container-infos">
    <h1 class="title">{{story.title}}</h1>
    <p class="author"> {{story.author}}</p>
    <div class="content">{{story.content}}</div>
  </div>
  </div>

  